<h1><%= @drank.name %></h1>

<%= link_to "Edit", edit_drank_path(@drank), class: "button" %>

<dl>
  <dt>Name</dt>
  <dd><%= @drank.name %></dd>

  <dt>Description</dt>
  <dd><%= @drank.description %></dd>

  <dt>Photo</dt>
  <dd><%= image_tag @drank.photo_url %></dd>

  <dt>ABV</dt>
  <dd><%= @drank.abv %></dd>
</dl>
